

body {
  margin: 0;
  
}
@font-face {
  font-family: "TANPearl", serif;
  src: url(TAN-PEARL-Regular.ttf)  format("ttf");

}
/* .quicksand-<uniquifier> { 
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
<weight>: Use a value from 300 to 700
<uniquifier>: Use a unique and descriptive class name
*/
h2 {
  font-family: "TANPearl", serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}
.topnav {
  overflow: hidden;
  background-color:#cda6e9;
  font-family: "TANPearl", serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: #afaff5;
}

.topnav a.active {
  background-color: #cda6e9;
  color: white;
}

.topnav-right {
  float: right;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
}

#canvas { 
  width:100%;
  min-height:100%;
    position:relative;
  &::after{
    content:'';
    position:absolute;
  background: linear-gradient(45deg,  #edff2d 0%,#ff2bf7 43%,#3f14ff 79%,#14d0ff 100%);
    background-size: 200% 200%;
    animation: rotateGradient 10s linear infinite;
    backdrop-filter:blur(3px);
    mix-blend-mode:darken;
    opacity:.3;
    inset:0
  }
  #hey{
    position:absolute; 
    margin:45vh auto;  
    text-align:center;
    inset:0; 
    font-family: "Quicksand", sans-serif;
    color:#fffa;
    font-size:4em;
    letter-spacing:-.02em;
    z-index:2;
    text-shadow:0 0 16px #fffa; 
    mix-blend-mode:hard-light;
    line-height:1em;
    min-height:5em;
  }
 
}
@keyframes rotateGradient {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
